body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

h1, h2, h3, h4, h5 {
    font-family: Montserrat, sans-serif;
}

.two-column-layout {
    display: flex;
}

.app-main {
    flex: 1 1 80%;
    height: 100vh;
    overflow-y: auto;
    padding: 1rem;
}

.app-sidebar {
    border-right: 1px solid #dee2e6;
    display: flex;
    flex: 1 1 20%;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    padding: 1rem;
}
    .app-sidebar .header {
        border-bottom: 1px solid #dee2e6;
        display: flex;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .app-sidebar .nav {
        margin-bottom: 1rem;
        flex: 0 1 100%;
        flex-direction: column;
    }
        .app-sidebar .nav .icon {
            margin-right: 0.25em;
        }
    .app-sidebar .user-menu {
        padding: 0.5rem 1rem;
    }
        .app-sidebar .user-menu img {
            display: inline-block;
            margin-right: 0.25em;
        }
        .app-sidebar .user-menu .dropdown-toggle {
            display: block;
            text-decoration: none;
        }

.convert-time-button {
    margin-left: 1rem;
}

@media screen and (max-width: 768px) {
    .two-column-layout {
        flex-direction: column;
    }

    .app-sidebar {
        border: none;
        border-bottom: 1px solid #dee2e6;
        flex-direction: row;
        justify-content: space-between;
        overflow-y: unset;
    }
        .app-sidebar .header {
            border: none;
            margin: 0;
            padding: 0;
        }
        .app-sidebar .nav {
            flex: unset;
            flex-direction: unset;
            margin: 0;
            padding: 0;
        }

    .app-main {
        height: auto;
        overflow-y: unset;
    }

    /* This is clearer than 'd-none d-md-inline' or whatever. */
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 576) {
    .hide-on-tiny-screen {
        display: none;
    }
}
