@{
	Layout = "Layouts/_NakedLayout";
}
<!--
The Kakao Maps loading scripts are synchronous, so they block the page load 
until they finish running. They can't be made `async` or `defer`, because that 
causes the code to run in the wrong order, breaking the map.

This page is meant to be run in an iframe. The iframe scripts will block, but 
that's okay, because the iframe itself can be executed parallel to the main 
page, fixing the problem that I'm trying to solve.

Now if only there were an easy way to fix the mime type of the map data...
-->

@section Styles
{
	<style>
		html, body, .map-container { height: 100%;  }
		.cont, .wrap_controllers { display: none; }

		.map-container .root_daum_roughmap,
		.map-container .root_daum_roughmap .wrap_map {
			height: 100%;
			width: 100%
		}
	</style>
}

<div class="map-container">
	<div id="daumRoughmapContainer1748889872591" class="root_daum_roughmap root_daum_roughmap_landing"></div>

	<script type="text/javascript" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
	<script>
		new daum.roughmap.Lander({
			"timestamp" : "1748889872591",
			"key" : "2vibz2b4ba7",
		}).render()
	</script>
</div>