@{
    Layout = "Layouts/_BareLayout";
    var statusCode = Context.Response.StatusCode;
}

<div class="container py-3 text-center">
    <div class="display-1">@statusCode</div>
    <h1>에러</h1>
    <p>이 에러는 관리자에게 문의하시길 바랍니다.</p>
    <div>
        <a href="/">메인페이지로 돌아가기</a>
    </div>
</div>
