@{
    Layout = "Layouts/_BareLayout";
}

<div class="container py-3 text-center">
    <div class="display-1">500</div>
    <h1>Server Error</h1>
    <p>죄송합니다. 오류가 발생했습니다. 빠른 시일 내에 해결하겠습니다.</p>
    <div>
        <a href="/">메인페이지로 돌아가기</a>
    </div>
</div>
