@model ConfigurationEditViewModel;
<div class="container">
    <header class="mb-3">
        <h1>좌석 예약 시스템 설정</h1>
    </header>

    @if (Model.IsSaveSuccessful)
    {
        <div class="alert alert-success alert-dismissible">
            설정이 성공적으로 저장되었습니다.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="닫기"></button>
        </div>
    }

    <form method="post">

        <section>
            <h2 class="h5">예약 시간 설정</h2>

            <div class="mb-3">
                <label asp-for="ScheduledOpenDate" class="form-label">예약 오픈 예정일시</label>
                <div class="input-group">
                    <input asp-for="ScheduledOpenDate" class="form-control" aria-label="예약 오픈 날짜" required>
                    <input asp-for="ScheduledOpenTime" step="1" class="form-control" aria-label="예약 오픈 시간" required>
                    <select asp-for="ScheduledOpenTimeZone" asp-items="Model.ValidTimeZones" class="form-select" aria-label="시간대 선택 (예: 한국 표준시, UTC 등)" required></select>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="ScheduledCloseDate" class="form-label">예약 마감 예정일시</label>
                <div class="input-group">
                    <input asp-for="ScheduledCloseDate" class="form-control" aria-label="예약 마감 날짜" required>
                    <input asp-for="ScheduledCloseTime" step="1" class="form-control" aria-label="예약 마감 시간" required>
                    <select asp-for="ScheduledCloseTimeZone" asp-items="Model.ValidTimeZones" class="form-select" aria-label="시간대 선택 (예: 한국 표준시, UTC 등)" required></select>
                </div>
            </div>

            <fieldset class="border rounded-3 p-3 mb-3">
                <legend class="float-none w-auto m-0 px-3 fs-6">강제 예약 설정</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(p => p.ScheduleOverride, ConfigurationEditViewModel.OVERRIDE_OPEN, new { @class = "form-check-input" })
                        지금 바로 예약 열기
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(p => p.ScheduleOverride, ConfigurationEditViewModel.OVERRIDE_CLOSE, new { @class = "form-check-input" })
                        지금 바로 예약 닫기
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(p => p.ScheduleOverride, ConfigurationEditViewModel.OVERRIDE_NONE, new { @class = "form-check-input" })
                        설정된 예약 시간에 따라 자동으로 예약 열고 닫기
                    </label>
                </div>
            </fieldset>
        </section>

        <hr>

        <section>
            <h2 class="h5">예약 제한 설정</h2>

            <div class="mb-3">
                <label class="form-label" for="limitSeatsPerTransaction">1회 예약 시 예약할 수 있는 최대 좌석 수</label>
                <input class="form-control w-auto" id="limitSeatsPerTransaction" value="1" disabled>
            </div>

            <div class="mb-3">
                <label asp-for="MaxSeatsPerPerson" class="form-label">사용자 1명당 최대 예약 가능 좌석 수</label>
                <input asp-for="MaxSeatsPerPerson" class="form-control w-auto" min="1" max="100" required>
            </div>

            <div class="mb-3">
                <label asp-for="MaxSeatsPerIPAddress" class="form-label">동일 IP에서 최대 예약 가능 좌석 수</label>
                <input asp-for="MaxSeatsPerIPAddress" class="form-control w-auto" min="1" max="100" aria-describedby="MaxSeatsPerIPAddress-help" min="1" required>
                <div id="MaxSeatsPerIPAddress-help" class="form-text">
                    동일 사용자가 여러 번 예약하는 것을 방지하기 위한 설정입니다. 학교나 회사처럼 공용 IP 환경에서는 너무 낮게 설정하지 마세요.
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="MaxSecondsToConfirmSeat" class="form-label">좌석 선택 후 예약 확정까지의 최대 시간 (초)</label>
                <input asp-for="MaxSecondsToConfirmSeat" class="form-control w-auto" aria-describedby="MaxSecondsToConfirmSeat-help" required>
                <div id="MaxSecondsToConfirmSeat-help" class="form-text">
                    좌석을 클릭하면 일시적으로 보류 상태가 되며, 이 시간 안에 확정하지 않으면 자동으로 해제됩니다.
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="GracePeriodSeconds" class="form-label">유예 기간 (초)</label>
                <input asp-for="GracePeriodSeconds" class="form-control w-auto" aria-describedby="GracePeriodSeconds-help" min="0" required>
                <div id="GracePeriodSeconds-help" class="form-text">
                    이 시간은 인터넷 지연을 고려하여 위해 모든 시간 제한에 추가됩니다.
                </div>
            </div>
        </section>

        <hr>

        <section>
            <button type="submit" class="btn btn-primary">설정 저장</button>
        </section>

    </form>
</div>
