@model ReservationCreateViewModel;
<div class="container">
    <header class="mb-3">
        <h1>예약 생성</h1>
    </header>

    <section>
        <form method="post">
            <div class="mb-3">
                <label asp-for="SeatNumber" class="form-label">좌석 선택</label>
                <select asp-for="SeatNumber" asp-items="Model.ValidSeatNumbers" class="form-select"></select>
                <span asp-validation-for="SeatNumber" class="form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label">예약자</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">예약자 메일</label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label">예약자 번호</label>
                <input asp-for="PhoneNumber" class="form-control">
                <span asp-validation-for="PhoneNumber" class="form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PreferredLanguage" class="form-label">선호 언어</label>
                <input asp-for="PreferredLanguage" class="form-control">
                <span asp-validation-for="PreferredLanguage" class="form-text text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">예약 만들기</button>
        </form>
    </section>
</div>