<div class="container">
    <header class="mb-3">
        <h1>Reservation details</h1>
    </header>

    <section>
        <h2 class="h5">Seat information</h2>

        <dl class="row">
            <dt class="col-sm-5">Seat:</dt>
            <dd class="col-sm-7">A6</dd>

            <dt class="col-sm-5">Status:</dt>
            <dd class="col-sm-7">Pending approval</dd>
        </dl>
    </section>

    <hr>

    <section>
        <h2 class="h5">Attendee information</h2>

        <dl class="row">
            <dt class="col-sm-5">Name:</dt>
            <dd class="col-sm-7">John Doe</dd>

            <dt class="col-sm-5">Email:</dt>
            <dd class="col-sm-7">someone@example.com</dd>

            <dt class="col-sm-5">Phone number:</dt>
            <dd class="col-sm-7">1-662-555-0000</dd>
        </dl>
    </section>

    <hr>

    <section>
        <h2 class="h5">Request information</h2>

        <dl class="row">
            <dt class="col-sm-5">Requested time:</dt>
            <dd class="col-sm-7">
                <time datetime="2025-05-30T16:20:00Z">2025-05-30T00:00:00Z</time>
            </dd>

            <dt class="col-sm-5">IP Address:</dt>
            <dd class="col-sm-7">127.0.0.1</dd>

            <dt class="col-sm-5">Detected languages:</dt>
            <dd class="col-sm-7">Vietnamese, English</dd>

            <dt class="col-sm-5">Other seats requested:</dt>
            <dd class="col-sm-7">A3 (approved), A4 (pending), A5 (pending)</dd>
        </dl>
    </section>

    <hr>

    <section>
        <button type="submit" class="btn btn-primary">Approve reservation</button>
        <button type="submit" class="btn btn-outline-primary">Reset approval/rejection</button>
        <button type="submit" class="btn btn-danger">Reject reservation</button>
    </section>
</div>
