<div class="container">
    <header class="mb-3">
        <h1>예약 상세 정보</h1>
    </header>

    <section>
        <h2 class="h5">좌석 정보</h2>

        <dl class="row">
            <dt class="col-sm-5">좌석:</dt>
            <dd class="col-sm-7">A6</dd>

            <dt class="col-sm-5">승인 상태:</dt>
            <dd class="col-sm-7">승인 대기 중</dd>
        </dl>
    </section>

    <hr>

    <section>
        <h2 class="h5">예약자 정보</h2>

        <dl class="row">
            <dt class="col-sm-5">이름:</dt>
            <dd class="col-sm-7">John Doe</dd>

            <dt class="col-sm-5">메일:</dt>
            <dd class="col-sm-7">someone@example.com</dd>

            <dt class="col-sm-5">전화번호:</dt>
            <dd class="col-sm-7">1-662-555-0000</dd>
        </dl>
    </section>

    <hr>

    <section>
        <h2 class="h5">예약 신청 정보</h2>

        <dl class="row">
            <dt class="col-sm-5">예약 신청 시간:</dt>
            <dd class="col-sm-7">
                <time datetime="2025-05-30T16:20:00Z">2025-05-30 00:00:00 KST</time>
            </dd>

            <dt class="col-sm-5">IP v4 주소:</dt>
            <dd class="col-sm-7">127.0.0.1</dd>

            <dt class="col-sm-5">감지된 언어:</dt>
            <dd class="col-sm-7">Vietnamese, English</dd>

            <dt class="col-sm-5">요청한 다른 좌석:</dt>
            <dd class="col-sm-7">A3 (approved), A4 (pending), A5 (pending)</dd>
        </dl>
    </section>

    <hr>

    <section>
        <button type="submit" class="btn btn-primary">예약 승인</button>
        <button type="submit" class="btn btn-outline-primary">승인/거절 초기화</button>
        <button type="submit" class="btn btn-danger">예약 거절</button>
    </section>
</div>
