@use "sass:map";
@use "../bootstrap";

$header-height: 56px;

body {
    padding-top: $header-height;
}

body > footer {
    background: bootstrap.$light;
    border-top: 1px solid bootstrap.$border-color;
    color: bootstrap.$dark;
    font-size: map.get(bootstrap.$font-sizes, "6");
}

.navbar {
    @extend .text-bg-light;

    .nav-link {
        border-radius: 1em;

        &.active {
            @extend .text-bg-primary;
        }
    }
}
