@use "sass:map";
@use "../bootstrap";

$header-height: 56px;

body {
    padding-top: $header-height;
}

body > footer {
    background: bootstrap.$light;
    border-top: 1px solid bootstrap.$border-color;
    color: bootstrap.$dark;
    font-size: map.get(bootstrap.$font-sizes, "6");
}

.navbar {
    @extend .text-bg-light;

    .nav-link {
        border-radius: 1em;

        &.active {
            @extend .text-bg-primary;
        }
    }
}

#culture-switcher {
    position: absolute;
    top: 0;
    right: bootstrap.$container-padding-x * 0.5;
}

@media screen and (max-width: map.get(bootstrap.$grid-breakpoints, "sm")) {
    #navbar-menu {
        margin-top: 1rem;

        a {
            padding-left: 1rem;
        }
    }
}
