@model MakePaymentViewModel;

@section Scripts
{
    <script>
        window.addEventListener("load", function () {
            window.location = $(".auto-redirect").attr("href");
        });
    </script>
}

<section class="container py-3">
    <h1>결제</h1>

    <p>
        결제 페이지가 자동으로 열립니다.
        열리지 않는 경우, 
        <a class="auto-redirect" href="@Model.PaymentFormUrl" target="_blank">여기를 클릭하여</a> 
        직접 열어주세요.
    </p>

    <p>
        결제가 완료되지 않으면 예약이 확정되지 않으며,  
        해당 좌석은 다른 팬에게 배정될 수 있습니다.
    </p>
</section>