<section class="container">
    <h1>Payment</h1>

    <p>
        The payment page will open in a new window.
        If it does not appear automatically, click here to open it.
    </p>

    <p>
        If a payment is not received,
        then your reservation will not be confirmed,
        and your seat will be made available for another fan to claim it.
    </p>
</section>