@model MakePaymentViewModel;

@{
    ViewData["Title"] = "Payment";
}

@section Scripts
{
    <script>
        window.addEventListener("load", function () {
            window.location = $(".auto-redirect").attr("href");
        });
    </script>
}

<section class="container py-3">
    <h1>Payment</h1>

    <p>
        The payment page will open automatically.
        If it does not, 
        <a class="auto-redirect" href="@Model.PaymentFormUrl">click here</a>
        to open it.
    </p>

    <p>
        If a payment is not received,
        then your reservation will not be confirmed,
        and your seat will be made available for another fan to claim it.
    </p>
</section>