<section>
    <h1>Seat Reservation</h1>

    <p>
        You have selected the seat {seat-id}.
        Fill out this form then move on to the payment page to finish your reservation.
    </p>
</section>

<section>
    [form here]<br />

    Accept terms of service.<br />

    Submit button here
</section>
