@{
    ViewData["Title"] = "Time Expired";
}

<section class="container py-3">
    <h1>Time Expired</h1>

    <p>
        The time to enter your information for the reservation has expired.
        <a asp-controller="Home" asp-action="Index">Click here</a>
        to return to the main page and start the reservation process again.
    </p>

</section>
