@{
    ViewData["Title"] = "Hết thời gian";
}

<section class="container py-3">
    <h1>Hết thời gian</h1>

    <p>
        Thời gian để cập nhật thông tin đặt chỗ của bạn đã hết.
        <a asp-controller="Home" asp-action="Index">Nhấn vào đây</a> để trở về trang chính và bắt đầu lại quá trình đặt chỗ.
    </p>

</section>
