@{
    ViewData["Title"] = "超时提示";
}

<section class="container py-3">
    <h1>超时提示</h1>

    <p>
        您填写预约信息的时间已过期。
        <a asp-controller="Home" asp-action="Index">点击此处</a>返回主页重新开始预约流程。
    </p>

</section>
