@{
    ViewData["Title"] = "期限切れ";
}

<section class="container py-3">
    <h1>期限切れ</h1>

    <p>
        予約の必要事項を入力する期限を過ぎました。
        <a asp-controller="Home" asp-action="Index">ここをクリック</a>してメインページに戻り、予約手続きをもう一度行ってください
    </p>

</section>
