@using Core.Application.Reservations
@model FetchReservationQueryResponse;
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>혜린 팬미팅 2025 자리 예약 안내</title>
    </head>
    <body style="font-family: sans-serif; font-size: 16px; line-height: 1.5em; color: #333;">
        <p>안녕하세요 @Model.Name 님?</p>

        <p>자리를 예약해주셔서 감사합니다!</p>

        <p>
            배정된 좌석 번호는 <strong>@Model.SeatNumber</strong>번입니다.
            이 좌석은 결제 확인이 완료될 때까지 임시로 예약된 상태입니다.
        </p>

        <p>
            결제가 완료되면 좌석이 최종 승인되었다는 확인 이메일을 따로 보내드릴 예정입니다.
        </p>
		
		<p>
            궁금하신 점이 있으시면 언제든지 <a href="mailto:fallinhyelin@gmail.com">fallinhyelin@gmail.com</a> 으로 문의해 주세요.
		</p>

		<p>
			감사합니다.
		</p>
    </body>
</html>
