@{
    Layout = "Layouts/_BareLayout";
    ViewData["Title"] = "页面未找到";
}

<div class="container py-3 text-center">
    <div class="display-1">404</div>
    <h1>页面未找到</h1>
    <p>该网址内容不存在</p>
    <div>
        <a asp-controller="Home" asp-action="Index">返回首页</a>
    </div>
</div>
