@{
    Layout = "Layouts/_BareLayout";
    ViewData["Title"] = "ページが見つかりません";
}

<div class="container py-3 text-center">
    <div class="display-1">404</div>
    <h1>ページが見つかりません</h1>
    <p>このURLには何もありません。</p>
    <div>
        <a asp-controller="Home" asp-action="Index">ホームに戻る</a>
    </div>
</div>
