@{
    Layout = "Layouts/_BareLayout";
    ViewData["Title"] = "Không tìm thấy nội dung";
}

<div class="container py-3 text-center">
    <div class="display-1">404</div>
    <h1>Không tìm thấy nội dung</h1>
    <p>Không tìm thấy nội dung nào ở đường dẫn này.</p>
    <div>
        <a asp-controller="Home" asp-action="Index">Trở về trang chủ</a>
    </div>
</div>
