@{
    Layout = "Layouts/_BareLayout";
    var statusCode = Context.Response.StatusCode;
}

<div class="container py-3 text-center">
    <div class="display-1">@statusCode</div>
    <h1>오류</h1>
    <p>에러가 발생하였습니다. 관리자에게 문의해주세요!</p>
    <div>
        <a asp-controller="Home" asp-action="Index">메인페이지로 돌아가기</a>
    </div>
</div>
