@{
    Layout = "Layouts/_BareLayout";
    ViewData["Title"] = "サーバーエラー";
}

<div class="container py-3 text-center">
    <div class="display-1">500</div>
    <h1>サーバーエラー</h1>
    <p>申し訳ありません… 何らかの不具合が発生しています。 できるだけ早く修正いたします。</p>
    <div>
        <a asp-controller="Home" asp-action="Index">ホームに戻る</a>
    </div>
</div>
