@{
    Layout = "Layouts/_BareLayout";
}

<div class="container py-3 text-center">
    <div class="display-1">500</div>
    <h1>Server Error</h1>
    <p>This is embarassing... something is broken. We'll get that fixed ASAP.</p>
    <div>
        <a asp-controller="Home" asp-action="Index">Return to Home</a>
    </div>
</div>
