@{
    Layout = "Layouts/_BareLayout";
    ViewData["Title"] = "Lỗi máy chủ";
}

<div class="container py-3 text-center">
    <div class="display-1">500</div>
    <h1>Lỗi máy chủ</h1>
    <p>Thật ngại quá… có sự cố xảy ra. Chúng tôi sẽ khắc phục sớm nhất có thể.</p>
    <div>
        <a asp-controller="Home" asp-action="Index">Trở về trang chủ</a>
    </div>
</div>
