@{
    Layout = "Layouts/_BareLayout";
    ViewData["Title"] = "服务器错误";
}

<div class="container py-3 text-center">
    <div class="display-1">500</div>
    <h1>服务器错误</h1>
    <p>非常抱歉...系统出现故障，我们将尽快修复。</p>
    <div>
        <a asp-controller="Home" asp-action="Index">返回首页</a>
    </div>
</div>
