@model AccountCreateViewModel;

<div class="container">
    <header class="mb-3">
        <h1>Create staff account</h1>
    </header>

    <section>
        <form method="post">
            <div class="row mb-3">
                <div class="col-md-6 mb-3 mb-md-0">
                    <label asp-for="Login" class="form-label">Login</label>
                    <input asp-for="Login" class="form-control">
                    <span asp-validation-for="Login" class="form-text text-danger"></span>
                </div>
                
                <div class="col-md-6">
                    <!-- alignment -->
                    <div class="form-label d-none d-md-block">&nbsp;</div>
                    
                    <div class="form-check">
                        <input asp-for="IsEnabled" class="form-check-input">
                        <label asp-for="IsEnabled" class="form-check-label">Is enabled</label>
                    </div>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="form-text text-danger"></span>
                </div>
                
                <div class="col-md-6">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="form-text text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </section>

</div>