@model AccountViewViewModel;

<div class="container">
    <header class="mb-3">
        <h1>관리자 계정 정보</h1>
    </header>

    <section>
        <div class="card shadow-sm mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 border-end p-3">
                    <img src="~/images/lego.png" class="img-fluid rounded" alt="레고 프로필 사진">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <header class="d-flex justify-content-between">
                            <h2 class="h5 card-title">관리자 정보</h2>
                            <a asp-controller="Accounts" asp-action="Edit" asp-route-login="@Model.Login">수정</a>
                        </header>
                        <dl class="row">
                            <dt class="col-sm-5">아이디:</dt>
                            <dd class="col-sm-7">@Model.Login</dd>

                            <dt class="col-sm-5">상태:</dt>
                            <dd class="col-sm-7">
                                @if (@Model.IsEnabled)
                                {
                                    <span>
                                        <i class='bi bi-check-circle-fill text-success'></i> 활성화됨
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        <i class='bi bi-ban-fill text-danger'></i> 비활성화됨
                                    </span>
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>