@model AccountSignInViewModel;
@{
    Layout = "Layouts/_HeaderLayout";

    var topError = ViewData.ModelState[""]?.Errors.FirstOrDefault()?.ErrorMessage;
}

<div class="container flex">
    <div class="mx-auto border rounded p-3 shadow-sm" style="max-width: 10cm">
        <header class="mb-3">
            <h1>관리자 로그인</h1>
        </header>

        @if (topError != null)
        {
            <div id="error-display" class="alert alert-danger alert-dismissible" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>
                @topError
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <section>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Login" class="form-label">아이디</label>
                    <input asp-for="Login" class="form-control" autofocus>
                    <span asp-validation-for="Login" class="form-text text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label">비밀번호</label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="form-text text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">관리자 페이지 접속</button>
            </form>
        </section>
    </div>
</div>