@{
    ViewData["Title"] = "개인정보처리방침";
}
<article class="container py-3">
    <header>
        <h1>개인정보처리방침</h1>
        <p>
            최종 업데이트: 2025-06-04
        </p>
    </header>

    <p>
        본 웹사이트 &lt;HyelinFanmeeting2025.com&gt;은 양질의 서비스를 제공하기 위해 방문자에 대한 일부 데이터를 수집합니다.  
        이 문서는 어떤 데이터가 수집되는지, 어떻게 사용되는지, 그리고 얼마나 보관되는지를 설명합니다.
    </p>
    <p>
        본 프로젝트는 국제적으로 운영되기 때문에, 캐나다, 대한민국, 미국의 관련 법률뿐만 아니라 웹사이트 방문자의 현지 법률의 적용을 받을 수 있습니다.  
        저희의 개인정보처리방침은 최대한 다양한 국제 개인정보보호법을 반영하도록 설계되었지만, 대한민국의 법률을 중심으로 작성되었습니다.
    </p>

    <section>
        <h2>어떤 데이터가 수집되나요?</h2>
        <p>
            모든 방문자의 IP 주소와 요청한 리소스가 로그에 기록됩니다.  
            이는 대부분의 웹 서버에서 일반적으로 수행되는 절차이며, 본 문서에서는 이 기록을 "서버 로그"라고 지칭합니다.
        </p>
        <p>
            좌석 예약을 시작한 방문자의 경우, 제출한 개인정보(이름 및 연락처 정보 등)가 추가로 기록됩니다.
        </p>
    </section>

    <section>
        <h2>수집된 데이터는 어떻게 사용되나요?</h2>
        <p>
            모든 방문자의 IP 주소 및 요청한 리소스는, 방문자가 웹사이트 내에서 어떤 경로로 이동했는지를 파악하는 데 사용됩니다.  
            이 정보는 사용 편의성 개선이나 오류 해결을 위해 활용됩니다.
        </p>
        <p>
            좌석 예약을 시작한 사용자가 제공한 개인정보는, 이벤트 당일 온라인 예약자와 실제 참석자를 일치시키기 위한 목적으로 사용됩니다.  
            예약 관련 문제가 발생했을 경우, 문제 해결을 위해 해당 정보를 활용할 수 있습니다.
        </p>
    </section>

    <section>
        <h2>데이터는 어떻게 보호되나요?</h2>
        <p>
            본 웹사이트와의 연결은 항상 HTTPS로 암호화되어 있으며, 보안되지 않은 연결은 차단됩니다.
        </p>
        <p>
            웹 서버 로그 및 데이터베이스 서버 접근은 권한이 있는 일부 인원에게만 허용됩니다.  
            서버 관리자와 호스팅 제공자만이 접근할 수 있으며, 업무 수행에 필요한 최소한의 범위에서만 접근합니다.
        </p>
        <p>
            사용자 정보가 표시되는 관리 시스템 역시, 좌석 예약 및 결제를 담당하는 hyelinikid 운영진 일부에게만 접근이 허용됩니다.
        </p>
        <p>
            웹사이트 개발 및 서버 구성 시 OWASP(Open Worldwide Application Security Project)에서 제안하는 업계 보안 표준을 준수하고 있습니다.
        </p>
    </section>

    <section>
        <h2>데이터는 얼마나 보관되나요?</h2>
        <p>
            모든 방문자에 대한 서버 로그는 웹사이트가 운영되는 기간 동안 보관될 수 있습니다.  
            본 웹사이트는 **2026년 5월 31일**을 기점으로 운영이 종료됩니다.
        </p>
        <p>
            좌석 예약을 시작한 사용자로부터 수집된 개인정보 역시 웹사이트 운영 기간 동안 보관됩니다.  
            이는 이벤트 운영 및 이후 문의 대응을 위함입니다.  
            웹사이트는 **2026년 5월 31일**까지 운영됩니다.
        </p>
    </section>

    <section>
        <h2>내 데이터를 삭제 요청할 수 있나요?</h2>
        <p>
            서버 로그는 개인 식별이 불가능하거나 어려운 정보이기 때문에 삭제 요청이 불가능합니다.  
            따라서 서버 로그는 개인정보로 간주되지 않습니다.
        </p>
        <p>
            좌석 예약을 시작한 사용자가 제공한 개인정보는, 해당 본인이 요청하는 경우 삭제가 가능합니다.  
            삭제를 원하시는 분은 &lt;<a href="mailto:hyelinikid@gmail.com">hyelinikid@gmail.com</a>&gt;으로 영어 또는 한국어로 삭제 요청 이메일을 보내주세요.  
            단, 개인정보 삭제 시 해당 이벤트에 대한 예약 정보도 함께 삭제되며, 이는 예약이 취소됨을 의미합니다.
        </p>
    </section>
</article>
