@model PrivacyPolicyViewModel;
@{
    ViewData["Title"] = "개인정보 처리방침";
}
<article class="container py-3">
    <header>
        <h1>개인정보 처리방침</h1>
        <p>
            최종 업데이트: 2025년 7월 19일
        </p>
    </header>

    <p>
        본 웹사이트 &lt;HyelinFanmeeting2025.com&gt;은 양질의 서비스를 제공하기 위해 방문자에 대한 일부 데이터를 수집합니다.
        본 문서는 수집되는 데이터, 그 사용 목적, 보관 기간에 대해 설명합니다.
    </p>
    <p>
        본 프로젝트는 국제적으로 운영되기 때문에, 캐나다, 대한민국, 미국의 법률뿐만 아니라 웹사이트 방문자의 지역 법률도 적용될 수 있습니다.
        본 개인정보 처리방침은 가능한 한 다양한 국제 개인정보 보호법을 고려하여 설계되었으며, 특히 대한민국의 법률을 중심으로 작성되었습니다.
    </p>

    <section>
        <h2>어떤 데이터가 수집되나요?</h2>
        <p>
            모든 방문자에 대해 웹사이트는 IP 주소와 방문한 페이지 및 리소스 정보를 저장합니다.
            이는 대부분의 웹 서버에서 일반적으로 수행되는 작업이며,
            이후 이 데이터 기록을 "서버 로그"라고 칭합니다.
        </p>
        <p>
            좌석 예약 절차를 시작한 방문자는 양식에 입력한 개인정보(이름 및 연락처 등)가 추가로 기록됩니다.
        </p>
    </section>

    <section>
        <h2>데이터는 어떻게 사용되나요?</h2>
        <p>
            모든 방문자의 IP 주소 및 요청된 리소스 정보는 방문자의 웹사이트 내 이동 경로를 추적하는 데 사용되며,
            이 정보는 서비스 개선이나 문제 해결을 위해 활용됩니다.
        </p>
        <p>
            티켓 예약 절차를 시작한 방문자의 개인정보는 행사 당일 온라인 예약자와 실사용자를 매칭하는 데 사용됩니다.
            예약에 문제가 발생한 경우, 이를 해결하기 위한 참고 자료로 사용될 수 있습니다.
        </p>
    </section>

    <section>
        <h2>데이터는 어떻게 보호되나요?</h2>
        <p>
            웹사이트와의 연결은 항상 HTTPS로 암호화되어 있으며, 보안되지 않은 연결은 거부됩니다.
        </p>
        <p>
            내부 직원은 자신의 업무 수행에 필요한 최소한의 정보만 접근할 수 있으며,
            필요하지 않은 정보는 열람할 수 없습니다.
        </p>
        <p>
            웹사이트 개발 및 서버 구성 시 OWASP(Open Worldwide Application Security Project)에서 권장하는 업계 보안 모범 사례를 따릅니다.
        </p>
    </section>

    <section>
        <h2>누가 데이터에 접근할 수 있나요?</h2>
        <p>
            웹 서버 로그 및 데이터베이스 서버 접근은 업무상 필요가 있는 사람으로 제한되며,
            서버 관리자와 서버 호스팅 제공자만 접근 권한을 가지고 있습니다.
            이들도 필요한 범위 내에서만 데이터를 열람합니다.
        </p>
        <p>
            사용자 제출 데이터를 표시하는 관리 시스템 접근도 좌석 예약 및 결제를 담당하는 행사 운영 스태프로 제한됩니다.
        </p>
        <p>
            데이터 저장 위치 및 국제 법률에 따라, 법적 요청이 있을 경우 공무원(수사기관)의 공식적인 요청을 최대한 반영하도록 노력합니다.
        </p>
    </section>

    <section>
        <h2>데이터는 얼마나 보관되나요?</h2>
        <p>
            모든 사용자에 대해 기록된 서버 로그는 웹사이트 운영 기간 동안 보관될 수 있습니다.
            본 웹사이트는 늦어도 2026년 5월 31일 이전에 종료될 예정입니다.
        </p>
        <p>
            티켓 예약 절차를 시작한 사용자의 개인정보는 웹사이트 운영 기간 동안 보관됩니다.
            이는 추후 예약에 대한 문의 대응 및 이벤트 진행을 위함이며,
            본 웹사이트는 늦어도 2026년 5월 31일 이전에 종료될 예정입니다.
        </p>
    </section>

    <section>
        <h2>내 데이터를 삭제 요청할 수 있나요?</h2>
        <p>
            모든 사용자에 대해 기록된 서버 로그는 개인 식별이 불가능하거나 매우 어려운 정보이기 때문에 삭제 요청이 불가능합니다.
            또한 일반적으로 개인정보로 간주되지 않습니다.
        </p>
        <p>
            티켓 예약 절차를 시작한 사용자의 개인정보는 요청 시 삭제할 수 있습니다.
            삭제를 원하시는 경우 &lt;<a href="mailto:@Model.OrganizerEmail">@Model.OrganizerEmail</a>&gt; 주소로, 가능하다면 영어 또는 한국어로 삭제 요청 메일을 보내주시기 바랍니다.
            참고로, 데이터를 삭제하는 경우 예약 정보도 함께 삭제되어 이벤트에 참여하실 수 없게 됩니다.
        </p>
    </section>
</article>
