@model PrivacyPolicyViewModel;
@{
    ViewData["Title"] = "隐私条款";
}
<article class="container py-3">
    <header>
        <h1>隐私条款</h1>
        <p>
            最后更新 2025-07-17
        </p>
    </header>

    <p>
        本网站 &lt;HyelinFanmeeting2025.com&gt; 会收集访客的部分数据以提供优质服务。本文档将说明所收集的数据类型、使用方式及保存期限。
    </p>
    <p>
        由于本项目面向国际用户，除遵守网站访客所在地法律外，我们可能还需遵守加拿大、韩国和美国法律。
        我们的隐私条款旨在尽可能符合国际隐私法律要求，但主要遵循韩国法律规定。
    </p>

    <section>
        <h2>收集哪些数据？</h2>
        <p>
            所有网站访客的IP地址及访问的页面和资源都会被记录，此为大多数网络服务器的标准操作。以下称该记录为"服务器日志"。
        </p>
        <p>
            开始预约流程的访客，其提交的所有个人信息（包括姓名和联系方式）都将被记录，这包括姓名和联系方式。
        </p>
    </section>

    <section>
        <h2>数据使用方式</h2>
        <p>
            所有访客的IP地址和访问记录将用于分析用户在网站内的浏览路径，以优化流程或排查问题。
        </p>
        <p>
            预约用户提交的个人信息将用于活动现场核对线上预约。如遇预约问题，这些信息可能被用于解决问题。
        </p>
    </section>

    <section>
        <h2>数据安全措施</h2>
        <p>
            网站全程采用HTTPS加密连接，拒绝非安全连接
        </p>
        <p>
            工作人员仅可访问其职责所需的用户数据，无权查阅非必要信息。
        </p>
        <p>
            本网站开发及服务器配置严格遵循开放全球应用安全项目(OWASP)制定的行业最佳数据安全实践标准。
        </p>
    </section>

    <section>
        <h2>数据访问权限</h2>
        <p>
            访问网络服务器日志和数据库服务器的权限仅限于必要人员。只有服务器管理员和服务器托管方才拥有访问权限，且仅限执行职责所需的范围。
        </p>
        <p>
            用户提交数据的管理系统仅限活动工作人员（负责座位预约和支付管理）访问
        </p>
        <p>
            根据数据存储地及国际法律要求，我们可能会配合执法部门的正式数据调取令
        </p>
    </section>

    <section>
        <h2>数据保存期限</h2>
        <p>
            所有用户的服务器日志可能保留至网站关闭，网站最迟将在2026年5月31日关闭。
        </p>
        <p>
            预约用户的个人信息将保留至网站关闭，以便管理活动及后续可能的预约查询，网站最迟将在2026年5月31日关闭。
        </p>
    </section>

    <section>
        <h2>能否申请删除数据？</h2>
        <P>
            服务器日志不可申请删除（因无法关联到具体个人，且通常不被视为个人身份信息）
        </P>
        <p>
            对于所有开始进行门票预约流程的访客所登记的个人信息，可根据预约发起人的请求予以删除。请发送邮件至&lt;<a href="mailto:@Model.OrganizerEmail">@Model.OrganizerEmail</a>&gt;（建议使用英文或韩文）提出数据删除申请。请注意，从我们网站删除您的数据将同时取消您在该活动的预约资格。
        </p>
    </section>


</article>
