@model PrivacyPolicyViewModel;
@{
    ViewData["Title"] = "プライバシーポリシー";
}
<article class="container py-3">
    <header>
        <h1>プライバシーポリシー</h1>
        <p>
            最終更新日：2025年7月19日
        </p>
    </header>

    <p>
        ウェブサイト「HyelinFanmeeting2025.com」は、高品質なサービスを提供するために、訪問者のデータを収集しています。この文書では、収集されるデータの種類、その使用方法、およびデータの保存期間について説明しています。
    </p>
    <p>
        このプロジェクトは国際的に提供されているため、ウェブサイト訪問者の居住地の法律に加えて、カナダ、韓国、アメリカ合衆国の法律にも制約される可能性があります。
        当プライバシーポリシーは可能な限り多くの国際的なプライバシー法に準拠するよう設定されていますが、主に韓国の法律に重点を置いています。
    </p>

    <section>
        <h2>どのようなデータが収集されるか？</h2>
        <p>
            ウェブサイト訪問者のIPアドレスと、アクセスしたページおよびリソースを保存します。これはほとんどのウェブサーバーで標準的規格です。以降、このデータのログを「サーバーログ」と呼びます。
        </p>
        <p>
            席予約手続を開始なされた方は、フォームに入力された全ての個人情報も記録されます。これは氏名や連絡先情報を含みます。
        </p>
    </section>

    <section>
        <h2>データはどのように使用されるか？</h2>
        <p>
            全ての訪問者のIPアドレスとリクエストされたリソースは、ウェブサイト訪問者がウェブサイト内で辿った経路を追跡するために使用されます。この情報はプロセスの効率化や問題のデバッグに使用されます。
        </p>
        <p>
            チケット予約手続きを開始した訪問者の個人情報は、オンライン予約とイベント開催時の個人を照合するために使用されます。予約に関する問題が発生した場合、この情報は問題解決に役立つ場合があります。
        </p>
    </section>

    <section>
        <h2>データはどのように保護されますか？</h2>
        <p>
            ウェブサイトへの接続は常にHTTPSで保護されています。保護されていない接続は拒否されます。
        </p>
        <p>
            スタッフは業務に必要なユーザーデータにのみアクセスできます。アクセスする必要のないデータにはアクセスできません。
        </p>
        <p>
            Web サイトの開発とサーバーの構成はOpen Worldwide Application Security Project(OWASP)で詳述されているデータを保護するための他産業のベストプラクティスに従っています。
        </p>
    </section>

    <section>
        <h2>データへのアクセス権限は誰が持つか？</h2>
        <p>
            ウェブサーバーログとデータベースサーバーへのアクセス権限は、アクセスを必要とするユーザーのみに制限されています。サーバー管理者とサーバーホストのみがこれらのデータにアクセスできます。業務のために必要な範囲でのみアクセスできます。
        </p>
        <p>
            ユーザーが送信したデータを表示する管理システムへのアクセス権限は、アクセスを必要とする者のみに制限されています。アクセス権限を持つのは席の予約と支払を管理するイベントスタッフのみです。
        </p>
        <p>
            データの場所や各種国際法により、法執行機関からの正式なデータ提供令状があれば、可能な限り対応いたします。
        </p>
    </section>

    <section>
        <h2>データはどのくらいの期間保存されるか？</h2>
        <p>
            全てのユーザーのサーバーログはウェブサイトの存続期間中保存される場合があります。ウェブサイトは2026年5月31日までに閉鎖されます。
        </p>
        <p>
            チケット予約手続きを開始した全ての訪問者の個人情報はウェブサイトの存続期間中記録されます。これはイベント運営のため、またその後、予約についてのご連絡を受けた際に参照するためです。ウェブサイトは2026年5月31日までに閉鎖されます。
        </p>
    </section>

    <section>
        <h2>データの削除を要求できるか？</h2>
        <P>
            サーバーログはすべてのユーザーについて記録され、削除を要求することはできません。これはサーバーログと個人の照合が実現困難または不可能であるためです。また、サーバーログは一般的に個人を特定できる情報とはみなされません。
        </P>
        <p>
            チケット予約手続きを開始した全ての訪問者の個人情報は、チケット予約手続きを開始した方の要求に応じて削除される場合があります。データの削除をご希望の場合は<a href="mailto:@Model.OrganizerEmail">@(Model.OrganizerEmail)</a>まで、できれば英語または韓国語でメールをお送りください。ウェブサイトからデータを削除するとイベントの予約も削除されますのでご注意ください。
        </p>
    </section>

</article>
