@model PrivacyPolicyViewModel;
@{
    ViewData["Title"] = "Chính sách bảo mật";
}
<article class="container py-3">
    <header>
        <h1>Chính sách bảo mật</h1>
        <p>
            Cập nhật lần cuối: 2025-07-19
        </p>
    </header>

    <p>
        Trang web &lt;HyelinFanmeeting2025.com&gt; thu thập một số dữ liệu về người truy cập để cung cấp dịch vụ chất lượng.
        Tài liệu này mô tả dữ liệu nào được thu thập, cách dữ liệu được sử dụng và thời gian lưu trữ dữ liệu.
    </p>
    <p>
        Do dự án có phạm vi phân phối quốc tế, chúng tôi có thể bị ràng buộc bởi luật pháp của Canada, Hàn Quốc và Hoa Kỳ, cùng với các luật địa phương áp dụng cho người truy cập website.
        Chính sách quyền riêng tư của chúng tôi được thiết kế để tuân thủ càng nhiều luật bảo mật quốc tế càng tốt, trọng tâm là luật của Hàn Quốc.
    </p>

    <section>
        <h2>Dữ liệu nào được thu thập?</h2>
        <p>
            Với những người truy cập trang web, chúng tôi lưu lại địa chỉ IP và những trang hoặc tài nguyên họ truy cập.
            Đây là quy trình tiêu chuẩn với hầu hết các máy chủ web.
            Từ đây, những bản ghi dữ liệu này sẽ được gọi là “nhật ký máy chủ”.
        </p>
        <p>
            Những người bắt đầu quá trình đặt chỗ sẽ cung cấp thêm thông tin cá nhân qua biểu mẫu, bao gồm tên và thông tin liên hệ, và những dữ liệu này cũng sẽ được lưu lại.
        </p>
    </section>

    <section>
        <h2>Dữ liệu được sử dụng như thế nào?</h2>
        <p>
            Địa chỉ IP và các tài nguyên được yêu cầu (được ghi lại với mọi người dùng) sẽ được sử dụng để theo dõi hành trình di chuyển trong website. Thông tin này giúp cải thiện trải nghiệm người dùng hoặc sửa lỗi nếu cần.
        </p>
        <p>
            Thông tin cá nhân của người đặt vé sẽ được sử dụng để xác nhận danh tính tại sự kiện. Nếu có sự cố xảy ra với đơn đặt chỗ, thông tin này sẽ giúp chúng tôi giải quyết.
        </p>
    </section>

    <section>
        <h2>Dữ liệu được bảo mật như thế nào?</h2>
        <p>
            Kết nối với trang web luôn được mã hóa bằng HTTPS. Kết nối không bảo mật sẽ bị từ chối.
        </p>
        <p>
            Nhân viên chỉ được phép truy cập dữ liệu người dùng trong phạm vi cần thiết để thực hiện công việc. Họ không thể truy cập những dữ liệu không liên quan đến nhiệm vụ của mình.
        </p>
        <p>
            Chúng tôi tuân thủ các phương pháp bảo mật chuẩn trong ngành theo hướng dẫn từ Dự án Bảo mật Ứng dụng Web Toàn cầu (OWASP) trong quá trình phát triển website và cấu hình máy chủ.
        </p>
    </section>

    <section>
        <h2>Ai có quyền truy cập dữ liệu?</h2>
        <p>
            Nhật ký máy chủ và cơ sở dữ liệu chỉ có thể được truy cập bởi quản trị viên máy chủ và đơn vị lưu trữ máy chủ. Họ chỉ được phép truy cập trong phạm vi cần thiết cho công việc của họ.
        </p>
        <p>
            Hệ thống quản lý hiển thị dữ liệu người dùng chỉ được truy cập bởi nhân viên sự kiện chịu trách nhiệm quản lý đặt chỗ và thanh toán.
        </p>
        <p>
            Tùy vào vị trí lưu trữ dữ liệu và luật pháp quốc tế, chúng tôi sẽ cố gắng tuân thủ các yêu cầu chính thức từ cơ quan thực thi pháp luật.
        </p>
    </section>

    <section>
        <h2>Dữ liệu được lưu trữ trong bao lâu?</h2>
        <p>
            Nhật ký máy chủ có thể được lưu giữ trong toàn bộ vòng đời của trang web. Trang web sẽ ngừng hoạt động muộn nhất vào ngày 31 tháng 5 năm 2026.
        </p>
        <p>
            Thông tin cá nhân từ những người đặt vé cũng sẽ được lưu giữ đến ngày website đóng, để quản lý sự kiện và đối chiếu thông tin nếu có vấn đề phát sinh. Website sẽ ngừng hoạt động muộn nhất vào ngày 31 tháng 5 năm 2026.
        </p>
    </section>

    <section>
        <h2>Tôi có thể yêu cầu xoá dữ liệu của mình được không?</h2>
        <P>
            Nhật ký máy chủ không thể xoá theo yêu cầu. Chúng tôi không thể gắn chính xác một cá nhân với bản ghi của máy chủ, và đây cũng không được xem là thông tin nhận dạng cá nhân.
        </P>
        <p>
            Thông tin cá nhân của người đặt vé có thể được yêu cầu xóa nếu chính người đó gửi yêu cầu.
            Vui lòng gửi email đến &lt;<a href="mailto:@Model.OrganizerEmail">@Model.OrganizerEmail</a>&gt; để yêu cầu xóa dữ liệu của bạn, ưu tiên bằng tiếng Anh hoặc tiếng Hàn.
            Lưu ý rằng khi dữ liệu bị xóa, đặt chỗ của bạn cũng sẽ bị hủy bỏ.
        </p>
    </section>

</article>
