@model PrivacyPolicyViewModel;
@{
    ViewData["Title"] = "Privacy Policy";
}
<article class="container py-3">
    <header>
        <h1>Privacy Policy</h1>
        <p>
            Last updated: 2025-07-02
        </p>
    </header>

    <p>
        The website &lt;HyelinFanmeeting2025.com&gt; collects some data about its visitors in order to provide quality service.
        This document describes what data is collected, how it is used, and how long the data is kept.
    </p>
    <p>
        Because of this project's international distribution, we might be bound by the laws of Canada, South Korea, and the United States of America in addition to the local laws of our website visitors.
        Our privacy policy has been designed to designed to accommodate as many international privacy laws as possible, but our focus is on the laws of South Korea.
    </p>

    <section>
        <h2>What data is collected?</h2>
        <p>
            For every visitor to the website, we save their IP address and what pages and resources they access.
            This is standard for most web servers.
            Henceforth, the log of this data will be referred to as "server logs".
        </p>
        <p>
            Visitors who start the process of reserving a seat additionally have all of the personal information that they submit in the form logged.
            This includes their name and contact information.
        </p>
    </section>

    <section>
        <h2>How is the data used?</h2>
        <p>
            IP addresses and requested resources, which are logged for all visitors, are used to trace the path that visitors to the website take throughout the website. This information is used to streamline the process or debug issues.
        </p>
        <p>
            Personal information, which is logged for visitors who start the process of reserving a ticket, is used to match an online reservation to a person at the time of the event. If any issues with a reservation are encountered, then this information may be used to help resolve those issues.
        </p>
    </section>

    <section>
        <h2>How is the data secured?</h2>
        <p>
            Your connection to the website is always secured over HTTPS.
            Unsecured connections are rejected.
        </p>
        <p>
            Staff can only access the user data that they need to access in order to perform their duties.
            They are not given access to data that they do not need to access.
        </p>
        <p>
            Other industry best practices to secure data, as detailed by the Open Worlwide Application Security Project (OWASP), are followed in the development of the website and the configuration of the server.
        </p>
    </section>

    <section>
        <h2>Who has access to the data?</h2>
        <p>
            Access to the web server logs and database server is limited to only those who need access.
            Only the server administrator and the server host have access to these.
            They only access these to the extent needed to perform their duties.
        </p>
        <p>
            Access to our management system, which displays user-submitted data, is limited to only those who need access.
            This is just event staff who are managing the seat reservations and payments.
        </p>
        <p>
            Depending on the locations of the data and various international laws,
            we will try to accommodate any official warrants for data from law enforcement officers.
        </p>
    </section>

    <section>
        <h2>How long is the data kept?</h2>
        <p>
            Server logs, which are logged for all users, may be kept for the lifetime of the website.
            The website will be shut down no later than May 31, 2026.
        </p>
        <p>
            Personal information, which is logged for all visitors who start the process of reserving a ticket, is kept for the lifetime of the website.
            This is to ensure we have your information to manage the event and thereafter for reference in case we are contacted about your reservation.
            The website will be shut down no later than May 31, 2026.
        </p>
    </section>

    <section>
        <h2>Can I request that my data be deleted?</h2>
        <P>
            Server logs, which are logged for all users, cannot be requested to be deleted.
            This is because it is infeasible or impossible to match a server log with an individual.
            Furthermore, it is generally not considered personally identifiable information.
        </P>
        <p>
            Personal information, which is logged for all visitors who start the process of reserving a ticket, may be deleted at the request of the person who started the process of reserving the ticket.
            Send an email to &lt;<a href="mailto:@Model.OrganizerEmail">@Model.OrganizerEmail</a>&gt;, preferably in English or Korean, requesting the deletion of your data.
            Please note that removing your data from our website will also remove your reservation at the event.
        </p>
    </section>


</article>
