@model TermsOfServiceViewModel;
@{
    ViewData["Title"] = "利用規約";
}
<article class="container py-3">
    <header>
        <h1>利用規約</h1>
        <p>
            最終更新日：2025年7月19日
        </p>
    </header>

    <section>
        <p>
            本利用規約の適用範囲は、本ウェブサイト、イベント、およびイベントに関連する全てとなります。これは、貴方と私たちの間の合意事項となります。本ウェブサイトをご利用いただくことにより、貴方は本利用規約に暗黙的に拘束されるものとなります。席を予約された場合は、貴方は本利用規約に明示的に拘束されます。
        </p>
        <p>
            会場スタッフからの指示に従ってください。
        </p>
        <p>
            どんな理由でもご連絡が必要な場合は、<a href="mailto:@Model.OrganizerEmail">@Model.OrganizerEmail</a>までメールにてご連絡ください。
        </p>
    </section>

    <section>
        <h2>チケットと座席</h2>
        <p>
            このウェブサイトからチケットをご購入いただくと、ご指定のメールアドレスに座席番号の確認メールが送信されます。数分以内にメールが届かない場合は迷惑メールフォルダをご確認ください。メール配信不可またはメールを読まれない場合については私たちは責任を負いかねます。
        </p>
        <p>
            チケットはイベント開始1時間前からWill Call窓口でお受け取りいただけます。お一人様4枚までとさせていただきます。身分証明書（政府発行の写真付き身分証明書）と購入情報が必要です。物理的なチケットをお受け取りの後にチケットを紛失された場合、再発行はできません。
        </p>
        <p>
            イベント開始の30分前から入場可能です。イベント開始10分前までにご入場ください。チケットをお持ちの方のみご入場いただけます。イベント開始後は入場制限を行う場合がございます。
        </p>
        <p>
            このイベントは全席指定となります。チケットに記載されている座席のみにご着席ください。公演後の座席変更はできません。
        </p>
        <p>
            舞台装置や撮影機材の都合上、一部の座席からは視界が制限される場合がございます。イベント当日、視界が制限されるという理由での払い戻しや座席の変更はできません。
        </p>
        <p>
            バリアフリー対応をご希望の場合は、チケットご予約前にメールにてご連絡ください。
        </p>
    </section>

    <section>
        <h2>ファンレターとプレゼント</h2>
        <p>
            イベント当日、ファンレターまたはプレゼントはイベント開始30分前から10分前までお預けいただけます。現金、花輪、花束、生の食品、その他これらに類するものはご遠慮ください。プレゼントはイベント終了後アーティストへお届けいたします。
        </p>
        <p>
            ファンサポートイベントを開催したい場合は、メールにてご連絡ください。
        </p>
    </section>

    <section>
        <h2>撮影と配信</h2>
        <p>
            本イベント中は、録音、撮影、配信、その他著作権侵害にあたる行為は禁止されています。これらの行為が認められた場合、コンテンツを削除し、会場から退場していただきます。また、返金・交換はいたしかねます。
        </p>
        <p>
            このイベントは録画されライブ配信されます。チケットをご購入いただいた場合、撮影に同意いただいたものとみなされます。私たちは録画またはライブ配信を商業目的で使用する権利を留保します。
        </p>
    </section>

    <section>
        <h2>持ち込み禁止物</h2>
        <p>
            ガラス瓶、花火、花束、風船、その他イベントの進行を妨げる、または危険となる可能性のある物品の持ち込みはご遠慮ください。キャップ付きのボトルウォーター以外の飲み物の持ち込みは禁止されています。
        </p>
    </section>

    <section>
        <h2>返金</h2>

        <p>払い戻しをご希望の場合はメールにてご連絡ください。払い戻し金額は以下のとおりです。</p>

        <p>
            9月4日まで：全額払い戻し<br>
            9月5日から9月7日まで：キャンセル料10%で払い戻し<br>
            9月8日から9月11日まで：キャンセル料20%で払い戻し<br>
            9月12日から9月13日まで：キャンセル料30%で払い戻し
        </p>

        <p>
            イベント当日の払い戻しはできませんのでご了承ください。
        </p>
    </section>

    <section>
        <h2>強制執行</h2>
        <p>
            私たちは、サービスの提供を拒否するか、訴訟により本利用規約を強制執行することができます。他の方の体験に重大な影響を与えない違反については、サービスの提供を拒否することで本利用規約を強制執行し、返金は行わない場合があります。他の方の体験に重大な影響を与える違反については、私たちの裁量により、訴訟を通じて本利用規約をさらに強制執行する場合があります。
        </p>
        <p>
            貴方は訴訟を通じて本利用規約を強制執行することができます。問題が発生した場合は、まず私たちと協議の上で解決に努めていただきますようお願いいたします。いずれの場合も、支払われる損害賠償額は予約料金を超えないものとします。
        </p>
    </section>
</article>