@{
    ViewData["Title"] = "Terms of Service";
}
<article class="container py-3">
    <header>
        <h1>Terms of Service</h1>
        <p>
            Last updated: 2025-06-04
        </p>
    </header>

    <section>
        <h2>Scope</h2>
        <p>
            The scope of these terms of service encompasses this website, the event, and everything related to the event.
        </p>
        <p>
            This is an agreement between you and us.
            You, by using this website, are bound by these terms of service implicitly.
            You, if you have reserved a seat via this website, are bound by these terms of service explicitly.
            We, the organizer of the event and the creator of this website, are bound by these terms of service too.
        </p>
    </section>

    <section>
        <h2>Our Promises</h2>
        <p>
            For the website, we promise to meet or exceed industry standards for securing your data that we collect.
            We reference the Open Web Application Security Project (OWASP) to define "industry standards".
            If a data breach does occur, we will attempt to notify you within 14 days of its discovery.
        </p>
        <p>
            For the event, we promise to prioritize Hyelin's goal of enjoying spending time with fans.
            Secondary to that, we promise to prioritize the audience's enjoyment of the event.
        </p>
    </section>

    <section>
        <h2>Your Promises</h2>
        <p>
            You promise to not do any actions that prevent others from making use of this website or enjoying the event.
        </p>
        <p>
            You promise to not purchase a reservation only to resell it.
        </p>
    </section>

    <section>
        <h2>Enforcement</h2>
        <p>
            We, the organizer of the event and the creator of this website, can enforce these terms of service by refusing service or through litigation.
            For violations that do not significantly affect the experience of others, these terms of service will be enforced by a refusal of service, possibly without a refund.
            For violations that do significantly affect the experience of others, these terms of service may be additionally enforced through litigation at our discretion.
        </p>
        <p>
            You, a user of this website or attendee of the event, can enforce these terms of service through litigation.
            We request that any issues be attempted to be resolved through communication with us first, though it is your right to skip straight to the extreme.
            In any case, the amount of damages rewarded to you is not to exceed the cost of the reservation.
        </p>
    </section>

</article>