@model TermsOfServiceViewModel;
@{
    ViewData["Title"] = "服务条款";
}
<article class="container py-3">
    <header>
        <h1>服务条款</h1>
        <p>
            最后更新: 2025-07-17
        </p>
    </header>

    <section>
        <p>
            本服务条款适用范围包括本网站、活动及所有相关事项。这是您与我们之间的协议。使用本网站即表示您默认接受这些条款。若您已预约座位，则明确表示接受这些条款约束。
        </p>
        <p>
            请遵守现场工作人员的任何额外指示。
        </p>
        <p>
            如需联系我们，请发送邮件至<a href="mailto:@Model.OrganizerEmail">@Model.OrganizerEmail</a>。
        </p>
    </section>

    <section>
        <h2>门票与座位</h2>
        <p>
            通过本网站购票后，我们将向您提供的邮箱发送座位确认邮件。若几分钟内未收到，请检查垃圾邮箱。我们对无法送达或未阅读的邮件不承担责任。
        </p>
        <p>
            活动开始前1小时起可在现场取票（Will Call）窗口取票。每人限购4张。需出示身份证明（带照片的身份证件）及购票信息。实体票一经领取，遗失后无法重新打印。
        </p>
        <p>
            活动开始前30分钟可入场，最迟请在活动开始前10分钟入场。仅限持票者入场。活动开始后可能限制入场。
        </p>
        <p>
            所有座位均为指定座位。请严格按票面座位就座，不得擅自调换。
        </p>
        <p>
            部分座位可能因舞台设备或拍摄设备导致视线受限。活动当天无法因视线受阻办理退票或换座。
        </p>
        <p>
            如需无障碍设施协助，请在订票前通过邮件联系我们。
        </p>
    </section>

    <section>
        <h2>粉丝信件与礼物</h2>
        <p>
            活动当天，可在开始前30分钟至10分钟递交粉丝信件或礼物。请勿递交现金、花环、花束、易腐物品等类似物品。礼物将在活动后转交艺人。
        </p>
        <p>
            如需组织粉丝应援活动，请通过邮件联系我们。
        </p>
    </section>

    <section>
        <h2>拍摄与直播</h2>
        <p>
            活动期间禁止录音、录像、直播等任何侵犯版权的行为。违反者将被要求删除内容并离场，且不会得到退款。
        </p>
        <p>
            本次活动将由我们进行录制和直播。购票即表示您同意被拍摄。我们保留将录制和直播内容用于商业用途的权利。
        </p>
    </section>

    <section>
        <h2>禁止携带的物品</h2>
        <p>
            请勿携带玻璃瓶、烟花、花束、气球等任何危险或干扰活动的物品。除带盖子的瓶装水外禁止携带饮料。
        </p>
    </section>

    <section>
        <h2>退款政策</h2>

        <p>退款需邮件申请，退款金额按以下时间表执行：</p>

        <p>
            9月4日前：全额退款<br>
            9月5日至7日：退款扣除10%<br>
            9月8日至11日：退款扣除20%<br>
            9月12日至13日：退款扣除30%
        </p>

        <p>
            活动当天不予退款。
        </p>
    </section>

    <section>
        <h2>条款执行</h2>
        <p>
            我们可通过拒绝服务或诉讼执行本条款。对他人体验影响较小的违规行为，我们将采取拒绝服务（不退款）的方式处理；对他人体验造成重大影响的违规行为，我们保留诉讼追责的权利。
        </p>
        <p>
            您可通过诉讼执行本条款。我们建议先尝试与我们沟通解决。在任何情况下，赔偿金额不超过预约费用。
        </p>
    </section>
</article>