<article class="container py-3">
    <header>
        <h1>서비스 이용약관</h1>
        <p>
            최종 업데이트: 2025-06-04
        </p>
    </header>

    <section>
        <h2>약관의 범위</h2>
        <p>
            본 이용약관은 본 웹사이트, 팬미팅 행사, 그리고 행사와 관련된 모든 사항에 적용됩니다.
        </p>
        <p>
            이는 귀하와 당사 간의 계약입니다.  
            귀하는 본 웹사이트를 이용함으로써 이 약관에 **묵시적으로** 동의하는 것이며,  
            본 웹사이트를 통해 좌석을 예매한 경우에는 **명시적으로** 동의하는 것으로 간주됩니다.  
            행사 주최자이자 본 웹사이트의 운영자인 당사 역시 이 약관을 준수합니다.
        </p>
    </section>

    <section>
        <h2>당사의 약속</h2>
        <p>
            웹사이트와 관련하여, 당사는 수집하는 귀하의 데이터를 보호하기 위해  
            업계 표준 이상의 보안 기준을 충족하거나 초과하도록 노력할 것을 약속합니다.  
            여기서 "업계 표준"은 OWASP(Open Web Application Security Project)에서 정의한 보안 기준을 참고합니다.
            만약 데이터 유출 사고가 발생할 경우, 발견 후 14일 이내에 귀하에게 통지하도록 최선을 다하겠습니다.
        </p>
        <p>
            행사와 관련하여, 당사는 혜린이 팬들과 즐겁게 시간을 보낼 수 있도록 하는 것을 최우선으로 하며,  
            그 다음으로는 관객 여러분이 행사를 즐길 수 있도록 최선을 다할 것을 약속합니다.
        </p>
    </section>

    <section>
        <h2>귀하의 약속</h2>
        <p>
            귀하는 다른 사람들이 본 웹사이트를 이용하거나 행사를 즐기는 것을 방해하는 어떠한 행위도 하지 않을 것을 약속합니다.
        </p>
        <p>
            또한, 좌석을 구매한 뒤 이를 제삼자에게 재판매하지 않을 것을 약속합니다.
        </p>
    </section>

    <section>
        <h2>약관의 적용 및 집행</h2>
        <p>
            행사 주최자이자 본 웹사이트 운영자인 당사는 본 약관을 위반한 경우 서비스 제공을 거부하거나 법적 조치를 통해 이를 집행할 수 있습니다.  
            다른 사람의 이용 경험에 큰 영향을 미치지 않는 위반의 경우, 환불 없이 서비스 제공을 거부하는 방식으로 조치될 수 있습니다.  
            그러나 다른 사람의 경험에 중대한 영향을 미치는 위반의 경우, 당사의 판단에 따라 추가로 법적 조치를 취할 수 있습니다.
        </p>
        <p>
            귀하(본 웹사이트의 사용자 또는 행사 참가자)도 법적 소송을 통해 본 약관을 집행할 수 있습니다.  
            다만, 문제 발생 시 먼저 당사와의 소통을 통해 해결을 시도해주시기를 부탁드리며,  
            법적 절차를 바로 진행하는 것은 귀하의 권리입니다.  
            어떤 경우든, 귀하가 받을 수 있는 손해배상금은 좌석 예약 비용을 초과하지 않습니다.
        </p>
    </section>
</article>
