@model TermsOfServiceViewModel;
@{
    ViewData["Title"] = "Điều khoản dịch vụ";
}
<article class="container py-3">
    <header>
        <h1>Điều khoản dịch vụ</h1>
        <p>
            Cập nhật lần cuối: 2025-07-17
        </p>
    </header>

    <section>
        <p>
            Phạm vi áp dụng của các điều khoản dịch vụ này bao gồm: trang web, sự kiện fan meeting, và tất cả các hoạt động liên quan đến sự kiện. Đây là một thỏa thuận giữa bạn và chúng tôi. Khi truy cập và sử dụng trang web này, bạn ngầm đồng ý với các điều khoản dịch vụ. Nếu bạn đã đặt chỗ, bạn được xem là đã đồng ý một cách rõ ràng với các điều khoản này.
        </p>
        <p>
            Vui lòng tuân theo mọi hướng dẫn bổ sung từ nhân viên tại địa điểm tổ chức.
        </p>
        <p>
            Mọi thắc mắc, vui lòng gửi email đến: <a href="mailto:@Model.OrganizerEmail">@Model.OrganizerEmail</a>
        </p>
    </section>

    <section>
        <h2>Vé và chỗ ngồi</h2>
        <p>
            Khi bạn mua vé qua trang web này, một email xác nhận số ghế sẽ được gửi đến địa chỉ email bạn cung cấp. Nếu không nhận được sau vài phút, vui lòng kiểm tra hộp thư rác. Chúng tôi không chịu trách nhiệm nếu email bị lỗi hoặc không được đọc.
        </p>
        <p>
            Vui lòng nhận vé ở quầy Will Call trước khi sự kiện bắt đầu 1 tiếng. Bạn phải xuất trình giấy tờ tùy thân có ảnh và thông tin mua vé. Sau khi nhận vé giấy, nếu làm mất sẽ không thể in lại.
        </p>
        <p>
            Bạn có thể vào địa điểm tổ chức từ 30 phút trước sự kiện. Vui lòng có mặt trước khi chương trình bắt đầu ít nhất 10 phút. Chỉ những người có vé mới được vào. Sau khi sự kiện bắt đầu, việc vào địa điểm có thể bị hạn chế.
        </p>
        <p>
            Tất cả các chỗ ngồi đều được đánh số cố định. Bạn phải ngồi đúng số ghế ghi trên vé và không được tự ý đổi chỗ.
        </p>
        <p>
            Tầm nhìn từ một số chỗ ngồi có thể bị giới hạn do thiết bị sân khấu hoặc ghi hình. Bạn sẽ không được đổi chỗ hoặc hoàn tiền vì lý do tầm nhìn bị che khuất vào ngày diễn ra sự kiện.
        </p>
        <p>
            Nếu bạn cần hỗ trợ dành cho người khuyết tật, vui lòng liên hệ với chúng tôi qua email trước khi đặt vé.
        </p>
    </section>

    <section>
        <h2>Thư tay và quà tặng fan</h2>
        <p>
            Vào ngày tổ chức fan meeting, thư tay hoặc quà tặng có thể được nhận từ 30 đến 10 phút trước khi bắt đầu chương trình. Vui lòng không gửi tiền mặt, vòng hoa, bó hoa, thực phẩm dễ hỏng hoặc các vật phẩm tương tự. Những món quà này sẽ được chuyển đến nghệ sĩ sau khi sự kiện kết thúc.
        </p>
        <p>
            Nếu bạn muốn tổ chức fan support "hỗ trợ nghệ sĩ từ tâm", vui lòng liên hệ qua email của chúng tôi.
        </p>
    </section>

    <section>
        <h2>Quay phim và livestream</h2>
        <p>
            Bạn không được ghi âm, quay phim, phát trực tiếp, hoặc thực hiện bất kỳ hành vi nào vi phạm bản quyền trong sự kiện. Nếu vi phạm, bạn sẽ bị yêu cầu xóa nội dung và rời khỏi sự kiện, và sẽ không được hoàn tiền hoặc đổi vé.
        </p>
        <p>
            Sự kiện này sẽ được chúng tôi ghi hình và phát trực tiếp. Bằng việc mua vé, bạn đồng ý cho phép hình ảnh của mình được ghi lại. Chúng tôi có quyền sử dụng hình ảnh/video này cho mục đích thương mại.
        </p>
    </section>

    <section>
        <h2>Những vật dụng bị cấm</h2>
        <p>
            Không được mang theo chai thủy tinh, pháo sáng, bó hoa, bóng bay, các vật dụng gây nguy hiểm hoặc làm gián đoạn sự kiện. Không được mang đồ uống, ngoại trừ chai nước có nắp đậy.
        </p>
    </section>

    <section>
        <h2>Hoàn tiền</h2>

        <p>Vui lòng gửi email để yêu cầu hoàn tiền. Mức hoàn tiền được áp dụng theo lịch sau:</p>

        <p>
            Trước ngày 4/9: hoàn tiền toàn bộ.<br>
            Từ ngày 5/9 đến ngày 7/9: hoàn tiền 90%.<br>
            Từ ngày 8/9 đến ngày 11/9: hoàn tiền 80%.<br>
            Từ ngày 12/9 đến ngày 13/9: hoàn tiền 70%.
        </p>

        <p>
            Lưu ý rằng chúng tôi không hoàn tiền vào ngày diễn ra sự kiện (14/9).
        </p>
    </section>

    <section>
        <h2>Thực thi điều khoản</h2>
        <p>
            Chúng tôi có quyền thực thi các điều khoản này bằng cách từ chối phục vụ hoặc khởi kiện nếu cần thiết. Với vi phạm không nghiêm trọng, chúng tôi có thể từ chối phục vụ mà không hoàn tiền. Với vi phạm ảnh hưởng nghiêm trọng đến người khác, chúng tôi có thể tiến hành khởi kiện tùy theo mức độ.
        </p>
        <p>
            Bạn cũng có thể thực thi các điều khoản này thông qua việc khởi kiện. Tuy nhiên, chúng tôi mong muốn mọi vấn đề được giải quyết thông qua trao đổi trước tiên. Nếu có kiện tụng, mức bồi thường tối đa sẽ không vượt quá giá trị đặt chỗ.
        </p>
    </section>
</article>