@import "_global";

body {
    padding-top: $header-height;
}

.navbar {
    .nav-link {
        border-radius: 1em;
        color: var(--bs-white);

        &.active {
            color: var(--bs-black);
            background-color: $color-orange;
        }
    }
}
