@model TestDatabaseViewModel;

<div class="container">
    <h1>Test of Public Website</h1>

    <div class="card">
        <div class="card-body">
            <h2 class="h5 card-title">Database</h2>
            <p>Database connected: @Model.Success</p>
            @if (!Model.Success)
            {
                <p>Error: @Model.Error</p>
            }
        </div>
    </div>
</div>