@model TestDatabaseViewModel;

<div class="container">
    <h1>Test of Public Website</h1>
    <p>This is a test.</p>

    <div>
        <h2 class="h5">Database test</h2>
        <div>Status: @Model.Success</div>
        <div>Error description: @Model.Error</div>
    </div>
</div>